---
layout: default
---
<div class="ap-career-objective">
    I am currently a PhD candidate in the Vision, Learning and Control (VLC) group at the University of Southampton. My supervisors are <a href="https://zhiwu-huang.github.io/">Zhiwu Huang</a> and <a href="https://www.southampton.ac.uk/people/5wy7fh/professor-adam-prugel-bennett">Adam Prugel-Bennett</a>. Before starting my PhD, I received my Master degree from UCL, my Bachelor Degree from University of Southampton, and spent four years in industry as a software developer. 

</div>
